body { background: #256323; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-payment-0 { color: #d90fcb; font-size: 12px; margin-bottom: 5px; }
.block-uploader-1 { color: #c836e5; font-size: 20px; margin-bottom: 5px; }
.block-logger-2 { color: #8e10a1; font-size: 12px; margin-bottom: 5px; }
.block-auth-3 { color: #aa2ad0; font-size: 21px; margin-bottom: 5px; }
.block-uploader-4 { color: #6780a6; font-size: 17px; margin-bottom: 5px; }
.block-cart-5 { color: #aeee79; font-size: 18px; margin-bottom: 5px; }
.block-router-6 { color: #672c4a; font-size: 13px; margin-bottom: 5px; }
.block-database-7 { color: #9b5d71; font-size: 18px; margin-bottom: 5px; }
.block-cluster-8 { color: #199684; font-size: 17px; margin-bottom: 5px; }